.container {
  width: 80%;
  padding: 32px;
  border-radius: 10px;
  background-color: var(--white);
  margin-bottom: 48px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  box-shadow: 0.3px 1.7px 5.3px rgba(0, 0, 0, 0.028),
    0.9px 5.6px 17.9px rgba(0, 0, 0, 0.042), 4px 25px 80px rgba(0, 0, 0, 0.07);
}

.controls {
  h1 {
    font-size: 1.2rem;
    color: var(--primary);
    margin-bottom: 32px;
  }

  p {
    font-size: 0.7rem;
    margin-top: 16px;
  }
}

.inputs {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 16px;
}

.inp {
  border: 2px solid var(--primary-light-1);
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;

  &:hover {
    border-color: var(--primary-light);
  }

  &:focus {
    border-color: var(--primary);
  }
}

.inputBox {
  position: relative;
}

.inpLabel {
  font-size: 0.6rem;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: -2px;
  font-weight: bold;
  background-color: var(--primary);
  color: var(--white);

  display: grid;
  place-items: center;
}
